<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TaskLog PRO</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Inter", sans-serif;
        background-color: #f8faf8; /* Soft green-gray background */
      }
    </style>
  </head>
  <body class="h-screen overflow-hidden flex flex-col text-gray-800">
    <!-- Header -->
    {% include 'tasks/components/header.html' %}

    <div class="flex flex-1 overflow-hidden">
      <!-- Sidebar -->
      {% include 'tasks/components/sidebar.html' %}

      <!-- Main Content -->
      <main
        class="flex-1 bg-white rounded-tl-[2rem] shadow-[0_0_15px_rgba(0,0,0,0.02)] p-8 flex flex-col overflow-y-auto"
      >
        {% include 'tasks/components/task_list.html' %}
      </main>
    </div>

    <!-- Footer -->
    {% include 'tasks/components/footer.html' %}

    <!-- Modals -->
    {% include 'tasks/components/modals/create_project.html' %}
    <!-- Modals create -->
    {% include 'tasks/components/modals/create_task.html' %}

    <script>
      function toggleModal(modalId) {
        const modal = document.getElementById(modalId);
        if (modal) {
          modal.classList.toggle("hidden");
        }
      }
    </script>
  </body>
</html>
